<div class="text-center">
    <h2>The Site</h2>
    <p>
    As you've probably guessed, my name is Kevin Brink. I built this site for two
    reasons.
    </p>
    <p>
    First, and primarily, I love Jesus. As I chase Him along this journey of life, He teaches me
    things, and I hope that this blog serves as both a record of what He's brought
    me through, and a tool for others to learn the lessons God's taught me. My
    greatest hope is that this site somehow introduces you to a little more of who God is,
    and brings you closer to Him. That would make it totally worth it.
    </p>
    <p>
    The second reason is that I love technology, and programming, and this site gives
    me a fantastic excuse to play around with some website design and development
    technologies, and experiment with ideas.
    </p>
    <p>
    <h2>The Person</h2>
    <p>
    I'm a Jesus freak, and a coder geek. In my spare time, I will nearly always
    be either playing a sport or a musical instrument, preferably alongside at
    least one of my many great friends.
    I also find "About me" sections very awkward to write.
    </p>
</div>
