<div class="text-center">
    <h3>Contact Me</h3>
    <p>
    You can't!
    </p>
    <br/>
    <p>
    Oh wait, that's not true. If you're interested in contacting me for any
    reason, feel free to shoot me an email at <a
        href="mailto:kevin@kevinbrink.com">Kevin@KevinBrink.com</a>
    </p>
</div>
