<div class="text-center">
    <h2>Stories</h2>
    <p class="aside"><i>
    I enjoy writing. Yes, of course, blogs, but also, I've found myself increasingly interested in
    crafting stories. This is just a simple way for me to share some of my shorter works. I hope you
    enjoy them.
    </i></p>
    <h3>Story #1: The Carpenter</h3>
    <p>
    The story you are about to read may be true.
    </p>
    <p>
    Once, sometime in the first century, in the Roman Empire, in the province of Judea, in the outskirts of the city of Jerusalem, there lived a man.
    </p>
    <p>
    His name was Erez, and he was a carpenter.
    </p>
    <p>
    His father was a carpenter, and his father before him, and his father before him. Everyone in Jerusalem knew Erez to be a good, honest, hard-working carpenter. He built furniture and cabinets, oxen carts and wagons. But, like every Jew living in Jerusalem at that time, the Roman occupation brooded over every aspect of life like a sky threatening a storm.
    </p>
    <p>
    Some Jews tried from time to time to fight the Romans through violent revolts, without much success. Others just tried to endure them, praying for the God of Abraham to send the Messiah to rescue them from their oppression, like He had done some 1500 years before through the Moses. And then still others tried to find some sort of compromise with the Romans, to make life a little more bearable. It is here, in this third group of Jews, that we find our carpenter friend Erez.
    </p>
    <p>
    Now let me be clear that Erez would never go so far as to betray his friends or family, nor to give himself to the hated occupation of tax collecting. No, for the most part he stayed true to his Jewish roots, keeping the Sabbath and doing what he could to help his fellow Jews.
    </p>
    <p>
    But, occasionally, he would sell his wares to the Romans.
    </p>
    <p>
    He tried to keep it hidden, of course, lest his neighbours begin to ostracize him, pushing him away from the community. His wife, Tovah, did not approve, but after voicing her displeasure the first time, she endured it, resolving to keep the secret as her own. After all, what would happen if they found out? Perhaps they would simply look down on them, but they also might be put out of the synagogue. Perhaps all their friends stop buying from them, destroying their livelihood. It was just too much to risk.
    </p>
    <p>
    And so, Erez continued to sell to the Romans. He benefited in a myriad of ways from his small, secret agreement with the Romans, getting breaks on taxes in addition to the sums of money the Romans would pay him directly for his find work. Their house, which had always been modest, gradually began to look more elegant and refined. Visitors would often comment on it, but Erez always directed praise to Adonai, a habit that never failed to make Tovah grimace. She hated the lie that supported her husband’s backhanded dealings with the Romans. Nevertheless, it seemed to be harmless, and life went on for several years in this way without anyone discovering the truth.
    </p>
    <p>
    Then, one day, a group of 10 Roman soldiers showed up at Erez’s door with a different kind of request.
    </p>
    <p>
    “We need you to make us a cross.”
    </p>
    <p>
    Erez’s mouth went dry. He didn’t need to ask why. He knew the Romans used crosses for crucifixions. He knew crucifixions were brutal, awful executions. He also knew that it was extraordinarily rare that Roman soldiers would crucify a fellow Roman. Usually it was a Jew, especially around Jerusalem.
    </p>
    <p>
    Sometimes, Erez reasoned, they might deserve it, like when a murderer or a persistent thief got caught. But most times it seemed it was one of those brave Jews trying to reclaim Jewish freedom by revolting against the Roman oppression. The Romans might very well be asking Erez to construct an execution tool for a friend or relative who, in some ways, simply had more courage than Erez did.
    </p>
    <p>
    Erez gulped deeply and thought silently for several moments, staring at the spears and shields in the soldier’s hands.
    </p>
    <p>
    “A cross?” he asked, more to himself than to anyone else.
    </p>
    <p>
    “Yes, a cross. I’m sure you’d be able?”
    </p>
    <p>
    “I’m not sure I have the wo—“ Erez began, hoping to use his scant supplies as an excuse, but the lead soldier waved his hand.
    </p>
    <p>
    “You’ll be supplied with all the wood you need.” He paused, then looked meaningfully past Erez. He turned to follow his gaze, and saw Tovah duck back inside his house.
    </p>
    <p>
    “You’ll be paid, too,” the soldier finished, still staring past Erez.
    </p>
    <p>
    He knew what the solider meant. He wouldn’t just be paid; he would be paid well. But making a cross that could only be used for crucifixions? Could he really do such a thing? He knew many around him would see the act as a direct betrayal to his Jewish brethern. Then again… He looked up at the group of menacing soldiers, and then glanced back towards his house.
    </p>
    <p>
    Did he really have a choice? What would saying “no” mean? Would he put his wife in danger? Erez felt his heart thumping in his chest. He looked up at the soldier. Finally, he took a deep breath, and, with heavy resignation, gave the group of soldiers a short nod. The lead solider returned the nod, and a moment later the entire company turned on their heels and marched away.
    </p>
    <p>
    Erez breathed out, feeling weak. Was that the right decision? he wondered. Regardless, he had made it. And now, it seemed, he must make a cross.
    </p>
    <p>
    He worked on it steadily, aiming to get it done and over with as quickly as possible, but he also worked with a heavy heart, in constant conflict with himself. Tovah made her opinion well known, but again resigned herself to her husband’s decision once it became seemed there truly was no undoing it.
    </p>
    <p>
    When Erez finished the deed a couple days later and contacted the Romans to tell them it was ready, they were pleasantly surprised at his speed, and accordingly paid a little extra when they came to pick it up shortly after midnight that night. As he watched the group of soldiers carry the cross away from his house under the moonlight, Erez found himself able to breathe deeply for the first time since the group had approached him. Relief flooded him, and he felt a thin smile tugging at his lips.
    </p>
    <p>
    Yes, it wasn’t pretty, but he now had a handy bunch of coins for his trouble, and at least it was over. It was done. And he wouldn’t have to look at another cross again.
    </p>
    <p>
    At least, that is what he thought.
    </p>
    <p>
    A couple of months went by, and it seemed as though this naive belief might be true. But then one day, as Erez looked up from his woodworking, his heart sank. Another group of Roman soldiers were coming down the gentle slope towards his house. He thought through his options, and again felt there were none. He was stuck.
    </p>
    <p>
    “We need another cross,” the lead soldier said. This time, Erez had already given up the fight with his conscience. He looked up with sad eyes and gave a short nod.
    </p>
    <p>
    “Excellent.” The soldier quickly turned around and headed back up the hill.
    </p>
    <p>
    And so began a new facet of Erez’s misery which only grew over time. He continued selling his everyday work to the Romans whenever they were interested, but now, every few months, he had another cross to make. And with each one, another round of crucifixions he felt partially responsible for.
    </p>
    <p>
    Erez felt like a slave, trapped, hating what he did but unable to break free, unable to tell anyone. None of the synagogue readings seemed to do any good for him. None of the rabbis would understand. None of his friends or family would forgive him. His turmoil was unrelenting, but there appeared no way of escape. The simple improvements to his house and belongings did nothing to quell the feelings of contributing to crucifixions.
    </p>
    <p>
    Then, one day, Erez’s neighbour, Medad, came over with the most peculiar news.
    </p>
    <p>
    “Have you heard about the new Rabbi coming to Jerusalem?”
    </p>
    <p>
    “New Rabbi?” Erez asked absent-mindedly, trying to line up two pieces of wood on his workbench.
    </p>
    <p>
    “Yes. Name’s Jesus. They say he used to be a carpenter!” At this, Erez looked up and laughed at his friend.
    </p>
    <p>
    “A carpenter? I thought you said he was a Rabbi!”
    </p>
    <p>
    “Yes, but they say he first worked as a carpenter in… Get this: Nazareth!”
    </p>
    <p>
    Erez laughed again and returned his attention to his workbench.
    </p>
    <p>
    “No carpenter has ever become a rabbi. And from Nazareth?” Erez shook his head and reached for his hammer.
    </p>
    <p>
    “I know, it’s strange, but it seems all of Jerusalem is excited about him coming.”
    </p>
    <p>
    “Well, if he wants to come around and talk about woodworking, I’m all ears. We’ll see if His carpenter story is true. Otherwise, if you’ll excuse me…” Erez expertly drove a nail from one piece to another, pulling them together.
    </p>
    <p>
    Medad stared at his friend for a few moments. “Somehow I thought you’d be a little more interested, but ok. I’ll leave you to it,” he said, stepping through the doorway connecting the workshop to Erez’s house.
    </p>
    <p>
    Erez returned his attention to the work at hand, but something about this new Rabbi kept edging its way into his mind.
    </p>
    <p>
    A new Rabbi… From Nazareth… Who worked as a carpenter…
    </p>
    <p>
    Something about it didn’t add up. Erez kept shaking his head, kept trying to clear his mind from the cycle of confused thoughts, but nothing seemed to work. Frustration rose, and he found himself messing up simple tasks and ruining pieces as the afternoon wore on.
    </p>
    <p>
    Then, just as he was working on a particularly delicate and intricate piece, Tovah’s voice called out.
    </p>
    <p>
    “Erez?” the distraction was just enough for him to jerk his hand in such a way to destroy his handiwork.
    </p>
    <p>
    “Augh!” Erez shouted in frustration. A moment later, he calmed himself.
    </p>
    <p>
    “Oh. Sorry Tovah. Just…” He exhaled slowly, his gaze taking in the carnage of the afternoon scattered around his workshop. “A bit of a frustrating day.”
    </p>
    <p>
    He looked up at her. “What’s it is?”
    </p>
    <p>
    “You have a visitor.”
    </p>
    <p>
    For the first time, Erez noticed the man standing behind his wife. He was a similar height to Erez, and a similar build too. He wore simple, unassuming garments. His face wore an easy smile, but his eyes… Something in his eyes startled Erez. He knew his face showed his reaction, but he quickly composed himself, wiped his grimy, sweaty hand on his clothes, and walked over to the man.
    </p>
    <p>
    “Hello there.”
    </p>
    <p>
    The man’s smile broadened. “Hello, Erez. My name’s Jesus.”
    </p>
    <p>
    Erez’s face returned to one of surprise, and it took him a bit longer this time to correct it. Certainly he didn’t expect this former-carpenter-turned-Rabbi to actually come visit him, but more startling than that was his utter lack of ceremonial clothes. He looked far more like a carpenter than a rabbi.
    </p>
    <p>
    “Oh! Uh, well… Didn’t quite expect you.”
    </p>
    <p>
    “I was told I might stop in and see a fellow tradesmen,” Jesus said, smiling as he let his gaze drift around to take in Erez’s workshop. “Fine place. Nice house too,” He commented.
    </p>
    <p>
    “Appreciated,” Erez nodded his head slightly. “Though I must admit my work today has been…” Erez shook his head sadly and gazed at the broken pieces scattered around the dusty floor. Then he looked back up at Jesus and shrugged.
    </p>
    <p>
    “A little messy, I suppose.”
    </p>
    <p>
    Jesus shrugged back, and stepped a couple feet further in. “Never met a mess that bothered me.” Then he gestured towards Erez’s workbench.
    </p>
    <p>
    “May I?”
    </p>
    <p>
    Erez nodded and stepped out of Jesus’ way as he made his way over to the wooden work surface. As he went, he stooped down and picked up a few scraps of wood off the floor, then set them down on the workbench.
    </p>
    <p>
    “Your father teach you?” Jesus asked as he aligned a couple rejected scraps and reached for Erez’s hammer.
    </p>
    <p>
    “He and my grandfather,” Erez nodded. He recognized he was still in a state of minor shock. This Jesus certainly wasn’t like any rabbi he had ever met; what rabbi would step into a carpenter’s shop and want to start working?
    </p>
    <p>
    “Ah, excellent. Mine too. Taught me all I know.” With that Jesus, drove a nail through a couple pieces. Erez stepped a bit closer, curious as to what Jesus was trying to create, but even then it remained a mystery.
    </p>
    <p>
    “You’re from Nazareth?”
    </p>
    <p>
    “Yes, more or less.” Erez wondered exactly what that meant, but didn’t bother to ask. Silence settled for a few minutes in the workshop. Jesus picked up a few more scraps of wood, and drove a few more nails before setting His new creation down on the workbench.
    </p>
    <p>
    “Well, here’s My masterpiece!” he said with a laugh. Erez stepped around him to look at what Jesus had fashioned in such a short time. To his astonishment, it was an excellently crafted miniature cart, well suited for a child’s toy. The detail was especially impressive, and all of it created with nothing but scraps.
    </p>
    <p>
    “Incredible!” Erez exclaimed. He looked up at Jesus. “Your father taught you well!”
    </p>
    <p>
    Jesus laughed heartily. “That He did, Erez, that He did.” He rested His arms on His hips and contentedly scanned around the workshop again. Then, he placed His left hand on Erez’s shoulder and stepped past him.
    </p>
    <p>
    “I’m afraid I must leave, but it was a delight to meet you and play in your workshop, Erez. Thank you so much.”
    </p>
    <p>
    “Oh, you’re quite welcome,” Erez responded, somehow more joyful than it seemed he should be. He started following Jesus into the house from the workshop and then glanced back at the workbench.
    </p>
    <p>
    “Oh, Jesus, you forgot!” he said, snatching up the toy cart and stepping quickly to catch up.
    </p>
    <p>
    Jesus turned around and smiled at Erez. “Oh, no, it’s a gift.” He looked over at Tovah.
    </p>
    <p>
    “I expect you two will be needing it before too long. Thanks again, both of you,” He said with a short bow.
    </p>
    <p>
    Then, He was gone.
    </p>
    <p>
    Erez exhaled slowly, staring at the doorway Jesus had exited from. Tovah came up next to him and put her hand on his right shoulder.
    </p>
    <p>
    “Well,” she said, smiling. “That was interesting, wasn’t it?”
    </p>
    <p>
    Erez breathed in slowly.
    </p>
    <p>
    “Yes. Indeed it was.”
    </p>
    <p>
    He returned to his workshop and placed the toy cart up on a shelf. For some reason it felt strange to return to his work, so he decided to leave the workshop as it was and resume his normal work tomorrow, hopefully with less mistakes.
    </p>
    <p>
    Months passed, and Erez’s work stayed steady. The Rabbi never came back to visit, but He stayed circulating in Erez’s thoughts, coming to mind anytime he happened to look at the toy cart. Medad, who seemed particularly interested in Jesus, periodically brought news of Him from outside Jerusalem, always with some seemingly ridiculous tale of miraculous healing or provision. He said there were rumours beginning that Jesus might even be the Messiah. The stories always seemed a little too wild to believe, but Erez had to admit there was something rather special about the Man, and he found himself wishing He would return to his workshop. And, true to Jesus’ word, Tovah became pregnant a few months later, causing Erez to look forward eagerly to becoming a father.
    </p>
    <p>
    Unfortunately for Erez and his conscience, the Romans continued to periodically ask for more crosses. Erez had now resigned himself entirely to this sorrowful fate, agreeing without a fight, and always turning his full attention to finishing the cross as quickly as possible to get it out of his mind, which never failed to please the Romans.
    </p>
    <p>
    One day, Erez heard a noise from his workshop. It began as a gradual, background hum, but grew louder and louder until he was sure it was a very large crowd of people.
    </p>
    <p>
    “Tovah?” Erez called. His wife appeared a moment later in the doorway to the back of the house. “What’s that noise? Did we miss a festival?” Tovah shook her head.
    </p>
    <p>
    “No, we haven’t missed any celebrations; I don’t know what the commotion is about. Would you like me to check?”
    </p>
    <p>
    Erez shook his head and turned to refocus on his work. “No, never mind. I was just curious.”
    </p>
    <p>
    “Have you heard?” a voice from inside the house startled both Erez and Tovah.
    </p>
    <p>
    “Oh, hello Medad!” Tovah said.
    </p>
    <p>
    “Hi,” Medad said dismissively as he stepped past Tovah into Erez’s workshop. “Erez, have you heard?”
    </p>
    <p>
    “Heard what?”
    </p>
    <p>
    “That noise! The whole city is out there!”
    </p>
    <p>
    “Well, obviously not the whole city,” Erez said, again looking back to his workbench. “What's going on?” he said uninterestedly.
    </p>
    <p>
    “It’s Jesus!” Erez’s head snapped up.
    </p>
    <p>
    “What’s Jesus?”
    </p>
    <p>
    “That noise! He’s come into Jerusalem riding on a donkey!”
    </p>
    <p>
    “Okaaay… And?” Erez prompted. Medad rolled his eyes.
    </p>
    <p>
    “Don’t you remember the prophecy? They’re saying He’s the Messiah! Erez, this could be it!”
    </p>
    <p>
    Here, Erez’s heart did a strange thing. Part of him wanted to embrace the idea and celebrate with the rest of the city. The other part, however, wondered what the religious leaders would say. They would either embrace Him or reject Him, probably by putting Him out of the synagogue.
    </p>
    <p>
    “Medad…” He shook his head. “Medad, if He is the Messiah, that’s great, of course, absolutely. But if He’s not…” He locked eyes with his neighbour.
    </p>
    <p>
    “If He's not, people aren’t gonna be happy.”
    </p>
    <p>
    Erez glanced at his wife, and then at the toy cart, remembering fondly his interaction with the strange Rabbi. It was a short visit, but Erez truly liked Jesus. He was kind, and somehow… Different. He would hate to see Him mistreated by the religious leaders because of His outlandish claims.
    </p>
    <p>
    “But if He is! Remember all the miracles He’s done!” Medad urged.
    </p>
    <p>
    “If He is…” Erez repeated slowly, turning over what that would mean. All of the Jews hopes and dreams, the freedom from the Roman tyranny, a new way of life… It thrilled Erez in a way that surprised him. And yet, at the same time, what would this Messiah think about Erez if He knew about his dealings with the Romans?
    </p>
    <p>
    He looked up at Medad. “Any chance of seeing Him or talking with Him?”
    </p>
    <p>
    Medad shook his head sadly. “Afraid not. The crowds are far too large to get anywhere close to Him.” Erez absent-mindedly reached for his hammer.
    </p>
    <p>
    “Well. I appreciate you letting me know, but I suppose I might as well just keep working then.”
    </p>
    <p>
    Medad nodded, and walked out. Erez turned to watch him leave. Then, he turned to his workbench, and stared at it, but he couldn’t quite bring himself to get back to work. Again, he found himself ending his workday early, his thoughts spinning with this latest development.
    </p>
    <p>
    For the next five days, Jesus continued to circulate through Erez’s mind almost constantly. He wondered about Him. He wondered about whether or not He truly was the Messiah. He wondered about His kindness, the look in His eyes, even His deft craftsmanship. There was something truly unique about the Man. He hardly dared to hope, but Erez felt a growing belief that He was, indeed the Messiah. He wondered exactly what that would mean for him.
    </p>
    <p>
    Then, another hum in the city began to rise. Erez picked his head up and a moment later heard the sound of footsteps. He heard Tovah’s voice greet someone, and he knew it was Medad. This time, however, his face was sorrowful.
    </p>
    <p>
    “Erez.”
    </p>
    <p>
    “Hello Medad. What’s going on out there?
    </p>
    <p>
    “You were right,” Medad responded sadly.
    </p>
    <p>
    “Right? About what?”
    </p>
    <p>
    “Jesus.” Medad locked eyes with Erez, and Erez saw pain in his eyes.
    </p>
    <p>
    “What do you mean? What are you talking about”
    </p>
    <p>
    Medad threw up his hands in frustration. “Erez, you really should pay attention to what's happening in your city,” he half-shouted. He grabbed a scrap piece of wood and squeezed it until his knuckles turned white, desperately trying to find an outlet for the emotion bubbling up inside of him.
    </p>
    <p>
    “Woah, woah, settle down Medad!” Erez said, waving his hands down. “Just tell me what’s going on!”
    </p>
    <p>
    Medad exhaled slowly, then turned and looked at Erez.
    </p>
    <p>
    “Erez, they’re crucifying Him.”
    </p>
    <p>
    Erez’s blood went cold. “What?” he breathed out.
    </p>
    <p>
    “They’re crucifying Him. Right now. Golgatha,” Medad said, gesturing to the North.
    </p>
    <p>
    “What do you mean I was right?” Erez said, feeling anger welling up inside of him. ”I never said He’d be killed! Just that some people might not like it!”
    </p>
    <p>
    Erez stalked around the room crazily. Medad shrugged and dropped the piece of wood to the floor with a faint, hollow noise. “Whatever. They are though. The Pharisees are Sadducees finally had enough. They turned the whole city against Him.” Medad breathed out slowly.
    </p>
    <p>
    “Why? Less than a week ago the whole city was singing His praises!” Erez shouted at him, suddenly highly defensive of his fellow Carpenter. “What has He done?”
     “Erez, He hasn’t done nothing wrong. Nothing, ok? He’s healed people, helped people, loved people. But some think He’s the One we’ve waited for. And the religious leaders have decided He isn’t. That makes it heresy.” He dropped his head, then shook it sadly.
    </p>
    <p>
    “So much for our Messiah.”
    </p>
    <p>
    Erez hardly heard him. His mind was racing.
    </p>
    <p>
    The look in Jesus’ eyes. The kindness in His actions. His gift and apparent prophecy that was, even now, being fulfilled in the womb of his wife. The sense that, even now, grew more and more entrenched in Erez’s mind that Jesus was, in fact, the Messiah they had waited for.
    </p>
    <p>
    And now, a crucifixion.
    </p>
    <p>
    On a cross.
    </p>
    <p>
    A moment later, Erez knew what he had to do. Something inside of him snapped. He bolted through the door leading from the workshop into the house, through the small room where Tovah stood staring in confusion at him, and out into the busy city streets.
    </p>
    <p>
    “It’s too late!” Medad called after him, but Erez shook his head. He wasn't entirely sure why yet, but he had to get to Jesus.
    </p>
    <p>
    A strange, heavy darkness had begun to creep over Jerusalem and thickened even more as Erez ran and stumbled his way through the chaotic streets, darting between people in the thick crowd headed in a stream to the North. The sun seemed to have simply disappeared, and an old story from the Torah came to mind. It said that long ago, right before his ancestors were freed from their slavery in Egypt, the darkness over the land was so intense it could be felt tangibly. Erez had always wondered what that would’ve been like. Now, it seemed, he knew.
    </p>
    <p>
    Tears started edging their way out of Erez’s eyes and down his cheeks as he tripped, stumbled, and then got up and kept running, as fast as he could, through shops and past bewildered bystanders.
    </p>
    <p>
    Suddenly, Erez broke out of the city gate, into the wide open space beyond, and was stopped by the scene greeting his teary eyes.
    </p>
    <p>
    There, against the thin line of light along the horizon that was diminishing every minute, was a silhouette atop the hill of Golgatha. Not just one cross, but three. And Erez knew Jesus was one of them. The kind one, the carpenter, the Rabbi who was different, who just might be the Messiah. And Erez knew He hung on his own handiwork.
    </p>
    <p>
    His knees grew weak, and he almost collapsed in sorrow right there outside the gate, but something compelled him to run on, so he did. Past streams of people, now going both directions, as if some sick event of entertainment had concluded and some had thus grown uninterested in it. His sobs filled the air around him, but he ignored the stares of onlookers. He had no care of what others would think of him now.
    </p>
    <p>
    The hill grew closer, every weakened step feeling impossibly hard to take and yet unavoidable. Erez felt almost as if he were in a dream — a nightmare — as he bounded up the last few steps, ran crazily over to the center cross, and fell to his knees at its base, sobbing uncontrollably with regret. He wept for several moments before picking up his eyes and took in, perhaps for the first time, the full brutality of what his crosses were used for.
    </p>
    <p>
    Jesus’ arms were stretched out taut, his broken body hanging from it like wet clothes hung out to dry. Blood streamed down the simple wooden structure, painting it red, and leaking onto the ground around Erez. In fact — he noticed with a start — he had kneeled down inside a pool made from the blood of this simple, kind, innocent Carpenter. He slowly lifted up his hands. They were drenched with the sticky red liquid.
    </p>
    <p>
    He looked back up at Jesus, standing up against a darkened sky, labouring just to breathe, blood still dripping down onto Erez.
    </p>
    <p>
    “Father,” a strangely strong voice suddenly said. Erez wiped his eyes and squinted to see Jesus’ face tilted towards the sky, taking heavy breaths in order to speak.
    </p>
    <p>
    “Forgive them,” He said, lifting Himself up for another breath.
    </p>
    <p>
    “They don’t know what it is they do,” He said, letting His body hang limp to rest from the effort of speaking a sentence that was so simple, and yet somehow reverberated with so much power.
    </p>
    <p>
    Erez’s mouth opened wide, incredulous. He simply stared for a few moments before he found his voice.
    </p>
    <p>
    “But I did know! Oh Jesus, I did know what I was doing!” Erez’s sobs now returned in full force, and he had a hard time speaking as he dropped his head to the ground, the full weight of sorrow for the crosses he had built coming crashing down on him.
    </p>
    <p>
    “I didn’t know it would be You, but Jesus, I knew it would be somebody. I knew.”
    </p>
    <p>
    He lifted his face again, this time with blurred vision. Jesus must have heard him, for He was looking down on him. Bizarrely, it almost looked as if the carpenter were smiling at Erez. Somehow, Erez was sure Jesus knew exactly what he was talking about. That He somehow knew, had known all along even, about Erez’s dealings with the Romans. Knew that even now, He hung on something Erez himself had constructed.
    </p>
    <p>
    “Even so. Be forgiven.”
    </p>
    <p>
    The words felt like life and death in the same instant. A faint hope that Jesus actually meant it brought life, but the reality of what Erez had done was almost enough to completely snuff it out.
    </p>
    <p>
    “But I knew!” Erez said again, this time directly into the innocent Man’s dying eyes.
    </p>
    <p>
    “Even so,” Jesus said again. “Be forgiven.”
    </p>
    <p>
    Erez let out a wail, trying to reconcile the outrageous gift apparently freely offered to him with his internal sense of justice. Could it be true?
    </p>
    <p>
    “Erez.” Jesus spoke, and His voice speaking his name sent waves of warmth through Erez. He looked up again, into those eyes that seemed to burn with love.
    </p>
    <p>
    “Drink my blood.”
    </p>
    <p>
    Erez stared at Jesus. “What?”
    </p>
    <p>
    Jesus looked back. “Take it in. Accept it. This,” Jesus used some of his precious little strength to gesture around with His head. “This is all for you, Erez.”
    </p>
    <p>
    “What?”
    </p>
    <p>
    “Erez, you need to drink this. Accept this. This is all for you. My deepest desire is for you to take all of this, all that I am doing, all that I’ve suffered, and take it in. It may be hard to swallow, but you must. You must accept that this was all for you, Erez.”
    </p>
    <p>
    Jesus stopped for a moment to gain another breath as Erez stared back at him, wide-eyed, mouth open, silent for several moments as his mind tried desperately to comprehend what He meant.
    </p>
    <p>
    “Jesus, I don’t understand!” he finally blurted out. Despite the obvious physical agony, Erez was certain he saw a thin, pained smile glance across Jesus’ face.
    </p>
    <p>
    “No. And I don’t suppose My disciples got it either. Find John, Erez. He’s one of My disciples, and perhaps you can figure it out together.” Erez, mind still spinning, simply continued staring up at Jesus. He took another breath, and then, with some extra measure of forth, spoke again.
    </p>
    <p>
    “Erez… I desperately long for you to have all that I am paying for.”
    </p>
    <p>
    With that, Jesus shuffled Himself ever so slightly, and stared out at the rest of the crowd. Erez’s heart was pounding within him, and his eyes drifted aimlessly away. He understood so very little of what Jesus had said, but he grasped enough to know Jesus was purchasing something for him. Exchanging something for him. Something he couldn’t possibly hope to earn on his own. Suddenly, a deep, trembling cry rang out from Jesus, startling Erez and forcing his gaze back up to Him.
    </p>
    <p>
    “Father, I commit my Spirit to You!” Jesus shouted. Then, what little life was left in His physical body left, and He slumped, lifeless against the simple wooden beams that Erez had put together. An moment later, a low rumble started, growing steadily, and soon the entire earth was shaking. Rocks broke free and started tumbling down the low hill Erez stood on, smashing to bits as they hit the bottom. A strange, faint, ripping noise echoed through the darkened air.
    </p>
    <p>
    Another, closer noise caught Erez’ attention, and he turned to see a Roman soldier standing ten feet behind him, staring at the now-lifeless body of Jesus. Erez thought he recognized him as one of the soldiers who came to collect crosses from time to time.
    </p>
    <p>
    “Truly,” he breathed out slowly. “This Man was the Son of God.” He stood stoically despite the shaking ground around him, as if temporarily removed from earth’s affects.
    </p>
    <p>
    Erez turned to look back up at Jesus, tears flowing freely. He knew it too. Any faint shreds of doubt were gone, the truth cemented inside his soul beyond mere logic or reason.
    </p>
    <p>
    Truly, Jesus was the Messiah.
    </p>
    <p>
    He was. Erez knew it. He was the Son of God. He was the One they had prayed for for hundreds of years. He had been their Saviour. Somehow, Erez felt, He still was, even though He had died. He didn’t understand that part. Not yet. And even though Erez had built the cross Jesus died on, the Carpenter-turned-Rabbi had freely forgiven him, and implored Erez to fully accept that bewildering fact.
    </p>
    <p>
    Erez, still crying, stood slowly to his feet, and scanned the crowd.
    </p>
    <p>
    He knew his life was ruined. There could be no going back to normal life. He wasn’t sure about his workshop, his house, nor even his wife or yet-unborn child. Much of what he thought he knew as a certainty only a few days before felt like it was slipping away from him, but he knew one thing with all his heart:
    </p>
    <p>
    Whoever Jesus was, he would accept all He did and spend his life following Him.
    </p>
    <p>
    He breathed in deeply, knowing what he was about to do would look a bit crazy. But with the earth still vibrating and darkness still flooding the land, it wouldn’t be the wildest thing people had seen today. He opened his mouth, and with all the volume he could muster shouted out a single name towards the sea of faces.
    </p>
    <p>
    “John!”
    </p>
</div>
