<div class="text-center">
    <h2>Stories</h2>
    <p class="aside"><i>
    I enjoy writing. Yes, of course, blogs, but also, I've found myself increasingly interested in
    crafting stories. This is just a simple way for me to share some of my shorter works. I hope you
    enjoy them.
    </i></p>
    <div id="list">
      <a class="story" href="<%= asset_path 'carpenter.pdf' %>">
        <h3>Story #1: The Carpenter</h3>
      </a>
      <a class="story" href="<%= asset_path 'emerald.pdf' %>">
        <h3>Story #2: The Emerald of Tozar</h3>
      </a>
    </div>
</div>
