<% content_for :header do %>
    <div id="landing">
        <i id="scroll-down" class="fa fa-chevron-circle-down fa-3x"></i>
    </div>
<% end %>
<div>
    <% @blog_posts.each do |blog_post| %>
        <div class="row blog">
            <h1 class="title">
                <%= blog_post.title %>
            </h1>
            <p>
                <%= blog_post.body %>
            </p>
            <h4>
                <%= blog_post.tagline %>
            </h4>
        </div>
    <% end %>
</div>
