<% content_for :header do %>
    <div id="landing">
        <div>
            <h2>Welcome to the Brink</h2>
        </div>
        <p class="scroll-down">
            Take a jump
        </p>
        <i class="scroll-down fa fa-chevron-circle-down fa-3x"></i>
    </div>
<% end %>
<div>
    <% @blog_posts.each do |blog_post| %>
        <div class="row blog">
            <h1 class="title text-center">
                <%= blog_post.title %>
            </h1>
            <p>
                <%= blog_post.body.html_safe %>
            </p>
            <h4 class="text-center">
                <%= blog_post.tagline %>
            </h4>
        </div>
    <% end %>
</div>
