<div class="text-center">
    <% @blog_posts.each do |blog_post| %>
        <div class="row blog">
            <h1 class="title">
                <%= blog_post.title %>
            </h1>
            <p>
                <%= blog_post.body %>
            </p>
            <h4>
                <%= blog_post.tagline %>
            </h4>
        </div>
    <% end %>
</div>
