<div>
  <h1 class="title text-center">
      <%= @blog_post.title %>
  </h1>
  <h5 class="text-right">
    <%= @blog_post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%B %e, %Y") %>
  </h5>
  <p>
      <%= @blog_post.body.html_safe %>
  </p>
  <h4 class="text-center">
      <%= @blog_post.tagline %>
  </h4>
</div>
